<%# locals: () %>

<div id='flash-container'>
  <% flash.each do |type, msg| %>
    <div class='flash <%= type %>' data-controller='flash'>
      <span><%= msg %></span>
      <button class='close' data-action='click->flash#close'>&times;</button>
    </div>
  <% end %>
</div>
