<aside class="sidebar">
  <nav>
    <ul class="nav-list">
      <%= link_to t('home'), root_path, class: "nav-item" %>
      <% Hotsheet.models.each do |model| %>
        <%= link_to model.model_name.human, polymorphic_path(model.table_name), class: "nav-item" %>
      <% end %>
    </ul>
  </nav>
</aside>
