.table {
  border: var(--border);
  border-radius: var(--border-radius);
  height: fit-content;
}

.column {
  flex-direction: column;
  max-width: 20rem;

  &:first-child .cell {
    border-left: none;
  }

  &:last-child .cell {
    border-right: none;
  }
}

.cell {
  align-items: center;
  border: calc(var(--border-width) / 2) solid var(--border-color);
  height: var(--height);
  overflow: hidden;
  padding: 0 0.5rem;
  user-select: none;
  white-space: nowrap;

  &:focus {
    border-radius: 0.25rem;
    outline: var(--outline);
    user-select: text;
    z-index: 1;
  }

  &:last-child {
    border-bottom: none;
  }

  &:has(input) {
    overflow: visible;
  }

  &.header {
    background-color: var(--border-color);
    border-top: none;
  }

  &.readonly {
    color: var(--color-gray);
  }

  input {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
}
