<nav class="nav" data-controller="nav">
  <ul>
    <li><%= link_to Hotsheet.t("title"), root_path, class: "title" %></li>
  </ul>
  <ul class="sheets">
    <% Hotsheet.sheets.each_with_index do |entry, index| %>
      <li>
        <% sheet_name, sheet = entry %>
        <%= link_to sheet.model.model_name.human(count: 2), sheets_path(sheet_name),
                    class: ("active" if params[:sheet_name] == sheet_name), data: { x: index } %>
      </li>
    <% end %>
  </ul>
</nav>
