<% if @model.nil? %>
  <h1>Hotsheet</h1>
  <p>Welcome to the hottest sheet around. Select a model from the sidebar to view the spreadsheet.</p>
<% else %>
  <h1><%= @model %></h1>
  <table>
    <thead>
      <tr>
        <% @model.editable_attributes.each do |attribute| %>
          <th><%= attribute %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |record| %>
        <tr>
          <% @model.editable_attributes.each do |attribute| %>
            <td>
              <%= render "hotsheet/shared/inline_editable_value", object: record, attribute: attribute %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_nav @pagy %>
<% end %>
