/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --sidebar-width: 300px;
  --table-border-color: #E0E1DD;
  --table-header-bg-color: #778DA9;
}

body {
  font-family: 'Montserrat', sans-serif;
}

main {
  margin-left: var(--sidebar-width);
  padding: 1rem 2rem;
}

.sidebar {
  width: var(--sidebar-width);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: lightgray;
  border-right: 1px solid gray;

  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    padding: 1rem 0.5rem;

    .nav-item {
      padding: 0.5rem 2rem;
      border-radius: 5px;
      text-decoration: none;
      color: green;
      font-weight: bold;
      font-size: 1.5rem;

      &:hover {
        background-color: darkgray;
      }
    }
  }
}


.model-table {
  border-collapse: collapse;

  th {
    background-color: var(--table-border-color);
    border-color: black;
    text-align: left;
  }

  th, td {
    border: 1px solid var(--table-border-color);
    padding: .5rem;
  }

  .editable-input {
    border: none;
    background-color: transparent;
  }
}
