/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 *= require_tree .
 *= require_self
 *= require hotsheet/pagy
 */

:root {
  --sidebar-width: 12rem;
  --main-padding-x: 2rem;
  --main-padding-y: 3rem;
  
  --bg-color: lightgray;
  --success-color: green;
  --alert-color: yellow;
  --notice-color: blue;
  --error-color: red;
}

body {
  font: 400 16px system-ui, Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
}

main {
  margin-left: var(--sidebar-width);
  padding: var(--main-padding-y) var(--main-padding-x);
}

aside {
  background-color: var(--bg-color);
  border-right: 1px solid gray;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: var(--sidebar-width);

  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0.5rem;

    a {
      border-radius: 0.5rem;
      color: green;
      font-weight: 700;
      overflow: hidden;
      padding: 0.5rem;
      text-decoration: none;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        background-color: darkgray;
      }
    }
  }
}

h1 {
  margin: 0 0 1rem 0;
}

table {
  border-collapse: collapse;

  th,
  td {
    border: 1px solid var(--bg-color);
    padding: 0.5rem;
    text-align: left;
  }

  th {
    background-color: var(--bg-color);
  }

  .readonly-attribute {
    min-height: 1rem;
    min-width: 1rem;
  }

  .editable-input {
    background-color: transparent;
    border: none;
    width: 100%;
  }
}

#flash-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 1rem;
  gap: 1rem;
  justify-content: center;
  width: calc(100% - var(--sidebar-width) - var(--main-padding-x) * 2);


  .flash {
    border-radius: 0.4rem;
    padding: 0.75rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.success {
      background-color: rgb(from var(--success-color) r g b / 80%);
    }

    &.alert {
      background-color: rgb(from var(--alert-color) r g b / 80%);
    }

    &.notice {
      background-color: rgb(from var(--notice-color) r g b / 80%);
    }

    &.error {
      background-color: rgb(from var(--error-color) r g b / 80%);
    }

    button.close {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 1.5rem;
    }

    &.closing {
      animation: fade-out 0.5s ease-in forwards; 
    }
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
