/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 *= require_tree .
 *= require_self
 *= require hotsheet/pagy
 */

:root {
  --sidebar-width: 300px;
  --table-border-color: #E0E1DD;
  --table-header-bg-color: #778DA9;
}

body {
  font-family: 'Montserrat', sans-serif;
}

main {
  margin-left: var(--sidebar-width);
  padding: 1rem 2rem;
}

.sidebar {
  width: var(--sidebar-width);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: lightgray;
  border-right: 1px solid gray;

  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    padding: 1rem 0.5rem;

    .nav-item {
      padding: 0.5rem 2rem;
      border-radius: 5px;
      text-decoration: none;
      color: green;
      font-weight: bold;
      font-size: 1.5rem;

      &:hover {
        background-color: darkgray;
      }
    }
  }
}


table {
  border-collapse: collapse;

  th {
    background-color: var(--table-border-color);
    border-color: black;
    text-align: left;
  }

  th, td {
    border: 1px solid var(--table-border-color);
    padding: .5rem;
  }

  .readonly-attribute {
    min-width: 1rem;
    min-height: 1rem;
  }

  .editable-input {
    border: none;
    background-color: transparent;
    width: 100%;
  }
}
