name: ci

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      BUNDLE_PATH: vendor/bundle
    strategy:
      matrix:
        ruby: ["3.0", 3.3]
        appraisal: [rails_7_0, rails_7_1, rails_7_2, rails_8_0]
        exclude:
          - ruby: "3.0"
            appraisal: rails_7_2
          - ruby: "3.0"
            appraisal: rails_8_0
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Restore cache
        uses: actions/cache@v4
        with:
          key: gems
          path: |
            gemfiles
            vendor/bundle

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Set up Hotsheet
        run: bin/setup

      - name: Run tests
        run: bin/check ${{ matrix.appraisal }}

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3

      - name: Install dependencies
        run: bundle

      - name: Run linters
        run: bin/fastcheck
